<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vue Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="jumbotron">VueJs</h1>
        <div id="app">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Descripción</th>
                <th style="width:200px">Monto</th>
                <th style="width:100px">¿Cancelado?</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items">
                <td>{{ item.name }}</td>
                <td>{{ item.amount.toFixed(2) }}</td>
                <td>
                  <button 
                    class="btn btn-default btn-sm" 
                    :class="{ 'btn-success' : item.paid }"                  
                  >
                    <i v-if="item.paid" class="glyphicon glyphicon-ok"></i>
                    <i v-if="!item.paid" class="glyphicon glyphicon-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    var app = new Vue({
      el: "#app", // Elemento
      data: { // Parametros
        items: [
          { name: 'Servicios', amount: 200, paid: false },
          { name: "Hosting de Mkt", amount: 90, paid: true }
        ]
      }
    });
  </script>
</body>
</html>